In [1]:
#importing required libraries for the model
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import sklearn.tree

In [2]:
#Loading data files or taking data frame
data = pd.DataFrame({"toothed":["True","True","True","False","True","True","True","True","True","False"],
                     "hair":["True","True","False","True","True","True","False","False","True","False"],
                     "breathes":["True","True","True","True","True","True","False","True","True","True"],
                     "legs":["True","True","False","True","True","True","False","False","True","True"],
                     "species":["Mammal","Mammal","Reptile","Mammal","Mammal","Mammal","Reptile","Reptile","Mammal","Reptile"]}, 
                    columns=["toothed","hair","breathes","legs","species"])

data

  toothed   hair breathes   legs  species
0    True   True     True   True   Mammal
1    True   True     True   True   Mammal
2    True  False     True  False  Reptile
3   False   True     True   True   Mammal
4    True   True     True   True   Mammal
5    True   True     True   True   Mammal
6    True  False    False  False  Reptile
7    True  False     True  False  Reptile
8    True   True     True   True   Mammal
9   False  False     True   True  Reptile

In [3]:
#changing data into numerical form
data = data.replace(to_replace =["True"], value =1)
data = data.replace(to_replace =["False"], value =0)

In [4]:
data

   toothed  hair  breathes  legs  species
0        1     1         1     1   Mammal
1        1     1         1     1   Mammal
2        1     0         1     0  Reptile
3        0     1         1     1   Mammal
4        1     1         1     1   Mammal
5        1     1         1     1   Mammal
6        1     0         0     0  Reptile
7        1     0         1     0  Reptile
8        1     1         1     1   Mammal
9        0     0         1     1  Reptile

In [5]:
#for big data(to  analyze the data)
print("length of data : ",len(data))
print("shape of data : ",data.shape)
data.head()

length of data :  10
shape of data :  (10, 5)

   toothed  hair  breathes  legs  species
0        1     1         1     1   Mammal
1        1     1         1     1   Mammal
2        1     0         1     0  Reptile
3        0     1         1     1   Mammal
4        1     1         1     1   Mammal

In [6]:
#Splitting of data into input and results
X = data.values[:,0:3]
y = data.values[:,-1]

In [7]:
#splitting to training & testing data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=100)

In [8]:
#making decision tree
clf_entropy = DecisionTreeClassifier(criterion='entropy', random_state=100,max_depth=2,min_samples_leaf=3)
clf_entropy.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=2, min_samples_leaf=3,
                       random_state=100)

In [9]:
#to make predictions
y_pred= clf_entropy.predict(X_test)
y_pred

array(['Mammal', 'Mammal', 'Mammal', 'Mammal', 'Mammal'], dtype=object)

In [10]:
#comparing the predicted and actual value to know the accurucy of the model
#we have not added enough data so our model accuracy is low
print("model accuracy = " , accuracy_score(y_test,y_pred)*100)

model accuracy =  60.0

In [11]:
y_test

array(['Reptile', 'Reptile', 'Mammal', 'Mammal', 'Mammal'], dtype=object)